@model ComicBookGallery2.Models.ComicBook[]
    @{
        ViewBag.Title = "Comic Books";
}

<h2>@ViewBag.Title</h2>

<div class="row">

    @foreach (var comicBooks in Model)
    {

        <div class="col-md-3">
            <h4>@comicBooks.DisplayText</h4>
            <img src="/Images/@comicBooks.CoverImageFileName"
                 alt="@comicBooks.DisplayText"
                 class="img-responsive" />
        </div>
    }


</div>